<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cefalo Test Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/toastr.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>

</head>
<body>


<div th:replace="fragments/header :: header"></div>

<div th:if="${newsResponse.statusCode=='204'}">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5"></h1>
            <p class="lead"> <span th:text="${newsResponse.message}" ></span></p>
        </div>
    </div>
</div>


<div th:if="${newsResponse.statusCode == '500'}">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5"></h1>
            <p class="lead"> <span th:text="${newsResponse.message}" ></span></p>
        </div>
    </div>
</div>



<div th:if="${not #lists.isEmpty(newsResponse.news)}">
    <div class="container">
        <div class="table-responsive">
            <span th:text="${newsResponse.message}" ></span>
            <table class="table">
                <thead>
                <tr>
                    <th>News Id</th>
                    <th>News Title</th>
                    <th>News Author</th>
                    <th>News Publish Date</th>
                    <th>HTML Format</th>
                    <th>JSON Format</th>
                    <th>XML Format</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="news : ${newsResponse.news}">
                    <td th:text="${news.newsId}">id</td>
                    <td th:text="${news.newsTitle}">title</td>
                    <td th:text="${news.newsAuthor}">author</td>
                    <td th:text="${news.newsPublishDate}">publishDate</td>
                    <td><a th:href="'/news/' + ${news.newsId}">HTML</a></td>
                    <td><a th:href="'/api/v2/news/json/' + ${news.newsId}">JSON</a></td>
                    <td><a th:href="'/api/v2/news/xml/' + ${news.newsId}">XML</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>