<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cefalo Test Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/toastr.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>

</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5"></h1>
            <p class="lead">Cefalo Java Web Assignment</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5"></h1>
            <p class="lead">
                Source Code : <a href="https://bitbucket.org/dustushishu/news-test-project" class="bootstrap-link">Bitbucket</a>
            </p>

            <p class="lead">
                Demo Video Phase 1 : <a href="https://drive.google.com/file/d/0BzktpfvJnNU_X19rT0QxcloxZEE/view?usp=sharing" class="bootstrap-link">Google Drive</a>
            </p>

            <p class="lead">
                Demo Video Phase 2 : <a href="https://drive.google.com/file/d/0BzktpfvJnNU_TGplNFZ0OUZxSVk/view?usp=sharing" class="bootstrap-link">Google Drive</a>
            </p>


            <p class="lead">
                Demo Video Phase 3 : <a href="https://drive.google.com/file/d/0BzktpfvJnNU_Tmc3eEdfdHJpQUE/view?usp=sharing" class="bootstrap-link">Google Drive</a>
            </p>

        </div>
    </div>
</div>

</body>
</html>



